.all{
    display: flex;
    flex-direction: column;
    background-color: bisque;
}

.header{
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

a{
    text-decoration: none;
    color: black;
}

.main{
    display: flex;
    gap: 60px;
}
img{
    border-radius: 50%;
    width: 300px;
}

.main .cols1{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 500px;

    
    
}

button{

}
.main .cols2{
    flex: 1;
    display: flex;
    flex-direction: column;
}